<div class="image-header">
  <div class="image-title">
    <h2><%= @image.title %></h2>
    <h4> <%= link_to @image.user.name, user_path(@image.user) %> </h4>
  </div>
  <div class="image-options">
    <% if @image.user == current_user %>
      <div class="image-edit">
        <%= link_to "Edit", edit_image_path(@image) %> |
        <%= link_to "Delete", image_path(@image), data: {
                    confirm: "This will permanently delete this image. Are you sure?",
                    method: "delete"
                    } %>
      </div>
    <% end %>
    <% if !current_user.get_favorite(@image) %>
      <%= form_tag(image_favorites_path(@image), method: 'post') do %>
        <%= submit_tag "Favorite", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= form_tag(image_favorite_path(@image, current_user.get_favorite(@image)), method: 'delete') do %>
        <%= submit_tag "Unfavorite", class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="image-section">
  <div class="image">
    <%= image_tag(@image.photo.url(:medium)) %>
  </div>

  <div class="user-tags">
    <% if @image.user_tags.any? %>
      <% @image.user_tags.each do |tag| %>
        <h4>Tagged Users</h4>
        <p>
          <strong><%= link_to tag.user.name, user_path(tag.user) %></strong> |
          <%= link_to "Untag", image_user_tag_path(@image, tag), data: {method: 'delete'} %>
        </p>
      <% end %>
    <% else %>
      <p>No users have been tagged in this photo.</p>
    <% end %>

    <div class="add-tag">
      <%= form_tag(image_user_tags_path(@image), method: 'post') do %>
      <%= label_tag "Tag a user" %>
      <%= collection_select :user, :id, @users, :id, :name, {}, class: 'form-control' %>
      <%= submit_tag "Tag User", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<blockquote class="blockquote"> <%= @image.caption %> </blockquote>



<h3>Categories</h3>
<hr>
<div class="image-categories">
  <div class="categories-list">
    <% if @image.categories.any? %>
      <% @image.categories.each do |category| %>
        <p>
          <strong><%= link_to category.name, category_path(category) %></strong> |
          <%= link_to "Remove", image_category_path(@image, category), data: { method: "delete" }%>
        </p>
      <% end %>
    <% else %>
      <p>There are no categories.</p>
    <% end %>
  </div>

  <div class="add-category">
    <% if @categories.any? %>
      <%= form_tag(image_category_path(@image, @category), method: 'patch') do %>
        <%= label_tag "Add Existing Category" %>
        <%= collection_select :category, :id, @categories, :id, :name, {}, class: "form-control" %>
        <%= submit_tag "Add Category", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>

  <div class="create-category">
    <%= form_tag(image_categories_path(@image), method: 'post') do %>
      <%= label_tag "Add New Category" %>
      <%= text_field_tag :name, nil, class: "form-control" %>
      <%= submit_tag "Create Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h3>Comments</h3>
<hr>

<% if @image.comments.any? %>
  <% @image.comments.each do |comment| %>
    <% if comment == @comment %>
      <h4>Edit Comment</h4>
      <%= render "comments/form" %>
    <% else %>
      <blockquote class="blockquote comment">
        <div class="comment-content">
          <% if current_user == comment.user %>
          <p class="comment-options">
            <%= link_to "Edit", edit_image_comment_path(@image, comment) %> |
            <%= link_to "Delete", image_comment_path(@image, comment), data: {
              confirm: "This will permanently delete this comment. Are you sure?",
              method: "delete"
              } %>
            </p>
            <% end %>
          <p><%= comment.content %></p>
        </div>
        <footer class="blockquote-footer">
          <%= link_to comment.user.name, user_path(comment.user) %>
        </footer>
      </blockquote>
    <% end %>
  <% end %>
<% else %>
  <p>No saved comments.</p>
<% end %>

<% if @comment.id == nil %>
  <h4>Post a Comment</h4>
  <%= render "comments/form" %>
<% end %>
