<h2> <%= @image.title %> </h2>
<h4> <%= @image.user.name %> </h4>

<div class="image">
  <%= image_tag(@image.photo.url(:medium)) %>
</div>

<p> <%= @image.caption %> </p>

<% if @image.user == current_user %>
  <p>
    <%= link_to "Edit", edit_image_path(@image) %> |
    <%= link_to "Delete", image_path(@image), data: {
                confirm: "This will permanently delete this image. Are you sure?",
                method: "delete"
                } %>
  </p>
<% end %>
