<div class="image-header">
  <div class="image-title">
    <h2><%= @image.title %></h2>
    <h4> <%= link_to @image.user.name, user_path(@image.user) %> </h4>
  </div>
  <div class="image-options">
    <% if @image.user == current_user %>
      <div class="image-edit">
        <%= link_to "Edit", edit_image_path(@image) %> |
        <%= link_to "Delete", image_path(@image), data: {
                    confirm: "This will permanently delete this image. Are you sure?",
                    method: "delete"
                    } %>
      </div>
    <% end %>
    <% if !current_user.get_favorite(@image) %>
      <%= form_tag(image_favorites_path(@image), method: 'post') do %>
        <%= submit_tag "Favorite", class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= form_tag(image_favorite_path(@image, current_user.get_favorite(@image)), method: 'delete') do %>
        <%= submit_tag "Unfavorite", class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="image-section">
  <div class="image">
    <%= image_tag(@image.photo.url(:medium)) %>
  </div>

  <div class="user-tags">
    <% if @image.user_tags.any? %>
      <h4>Tagged Users</h4>
      <% @image.user_tags.each do |tag| %>
        <p>
          <strong><%= link_to tag.user.name, user_path(tag.user) %></strong> |
          <%= link_to "Untag", image_user_tag_path(@image, tag), data: {method: 'delete'} %>
        </p>
      <% end %>
    <% else %>
      <p>No users have been tagged in this photo.</p>
    <% end %>

    <div class="add-tag">
      <%= render "user_tags/form" %>
    </div>
  </div>
</div>

<blockquote class="blockquote"> <%= @image.caption %> </blockquote>

<h3>Categories</h3>
<hr>
<div class="image-categories">
  <div class="categories-list">
    <% if @image.categories.any? %>
      <% @image.categories.each do |category| %>
        <p>
          <strong><%= link_to category.name, category_path(category) %></strong> |
          <%= link_to "Remove", image_category_path(@image, category), data: { method: "delete" }%>
        </p>
      <% end %>
    <% else %>
      <p>There are no categories.</p>
    <% end %>
  </div>

  <div class="add-category">
    <% if @categories.any? %>
      <%= render "categories/edit" %>
    <% end %>
  </div>

  <div class="create-category">
    <%= render "categories/new" %>
  </div>
</div>

<h3>Comments</h3>
<hr>

<%= render "comments/index" %>

<% if @comment.id == nil %>
  <h4>Post a Comment</h4>
  <%= render "comments/form" %>
<% end %>
